.git
.idea
.nova
.phpunit.cache
.vscode
.zed

.env
.env.*
!.env.example
auth.json

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/pail

public/build
public/hot
public/storage

.phpunit.result.cache
npm-debug.log
yarn-error.log
